GOOGLE_SERVICE_ACCOUNT_TYPE=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=3
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
GOOGLE_AUTH_PROVIDER_CERT_URL=
GOOGLE_CLIENT_CERT_URL=
PORT=3001
FIREBASE_WEB_API_KEY=

OLLAMA_URL=http://127.0.0.1:11434/api/generate
#OLLAMA_URL=http://host.docker.internal:11434/api/generate 

